<footer id="footer-widgets" class="dark">
  <div class="container">
    <div class="row">
      <div class="col-md-6 ov-h">
        <div class="row">
          <div class="col-sm-8">
            <div class="widget">
              <h6 class="upper">Our Monthly Meetings</h6>
              <p>
                <span><strong>First Wednesday of Every Month, 8pm</strong></span>
                <br/>
                <span>Graduate Christian Fellowship Conference Room</span>
                <span>420 North Bridge Road #05-04, 188727</span>
              </p><a href="https://www.facebook.com/groups/ReasonableFaithSingpore/events/" target="_blank" class="btn btn-light-out btn-sm">RSVP for our next event!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-md-offset-2">
        <div class="row">
          <div class="col-md-12">
            <div class="widget">
              <h6 class="upper">Stay in touch</h6>
              <p>Subscribe to get the latest updates!</p>
              <div class="footer-newsletter">
                <form data-mailchimp="true" class="inline-form">
                  <div class="input-group">
                    <input type="email" name="email" placeholder="Your Email" class="form-control">
                    <span class="input-group-btn">
                      <button type="submit" data-loading-text="Loading..." class="btn btn-light-out">Subscribe</button>
                    </span>
                  </div>
                </form>

                <!-- Begin MailChimp Signup Form

                <div id="mc_embed_signup" class="footer-newsletter">
                <form action="//zee.us16.list-manage.com/subscribe/post?u=c0054e2e28f53acbc649b2ba8&amp;id=42cd9a5261" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div id="mc_embed_signup_scroll" class="input-group">

                	<input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="email address" required>
                    <span class="input-group-btn">
                      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-light-out">
                    </span>
                    </div>
                </form>
                </div>

                End mc_embed_signup-->

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<footer id="footer" class="dark">
  <div class="container">
    <div class="footer-wrap">
      <div class="row">
        <div class="col-md-8">
          <div class="copy-text">
            <p>© 2017 Reasonable Faith Singapore Chapter</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="footer-social">
            <ul>
              <li><a href="https://www.facebook.com/groups/ReasonableFaithSingpore/" target="_blank"><i class="ti-facebook"></i></a>
              </li>
              <li><a href="mailto:reasonablefaithsingapore@gmail.com"><i class="ti-email"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
