<header id="topnav" class="dark">
  <div class="container">
    <div class="logo">
      <a href="{{ "/" | prepend: site.baseurl }}">
        <img src="{{ "/img/rf-logo.png" | prepend: site.baseurl }}" class="logo-light">
      </a>
    </div>
    <div class="menu-extras">
      <div class="menu-item">
        <a class="navbar-toggle">
          <div class="lines"><span></span><span></span><span></span>
          </div>
        </a>
      </div>
    </div>
    <div id="navigation" data-onepage="true">
      <ul class="navigation-menu nav">
        <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a>
        </li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">About Us</a>
        </li>
        <li><a href="{{ "/onguard" | prepend: site.baseurl }}">On Guard</a>
        </li>
        <li><a href="{{ "/articles" | prepend: site.baseurl }}">Articles</a>
        </li>
        <li><a href="https://www.facebook.com/groups/ReasonableFaithSingpore/" target="_blank"><i class="ti-facebook"></i></a>
        </li>
        <li><a href="mailto:reasonablefaithsingapore@gmail.com"><i class="ti-email"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
