#footer {
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;

  &.section {
    background-color: transparent;
  }

  .container {
    padding: 20px;
  }

  p {
    //color: #fff;
    font-weight: 300;
  }
}

.copyright {
  float: right;
}

@media (max-width: 992px) {
  #team.section .content {
    text-align: left;
  }

  a.portrait-wrapper {
    margin: 20px auto;
  }
}
