/******* BACKGROUND IMAGE *******/
.parallax {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: $theme-color;

  img {
    position: absolute;
    left: 0;
    height: auto;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .parallax img {
    width: auto;
  }
}

#title-header .parallax {
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  height: 300px;
}

#header-text {
  padding-top: 80px;
  height: 120%;
  background: $blue-gradient;
  text-align: center;
}

/******* HOME TOP *******/

#home {
  height: 100%;
  padding: 0;

  .row {
    height: 100%;
    padding-bottom: 80px;
    margin: 0;
  }

  h1 {
    display: block;
    margin: 0;
    color: $white-translucent;
    font-size: 40px;
  }

  .header-info {
    display: block;
    padding-top: 70px;
    margin: 0;
    height: 60%;
    color: $white-translucent;
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 27px;
    font-weight: 300;
    font-family: $base-font;
  }

  .bottom {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
    margin: 0;
  }
}

@media (max-width: 992px) {

  #home .bottom { bottom: 20px; }
}

@media (max-width: 420px) {

  #home .bottom { display: none; }
  #home .container { padding-top: 50px; }
}

#sitename {
  line-height: 140px;
  font-size: 140px;
  font-family: $cassannet-outline-font;
}

.full-stop {
  font-size: 120px;
}

/******* TITLE HEADER *******/

#title-header, .section-title {

  padding: 0;

  .row {
    height: 100%;
    padding-bottom: 80px;
    margin: 0;
  }

  h1 {
    display: block;
    margin: 0;
    color: $secondary-color;
    font-family: $base-font;
    font-size: 36px;
    text-align: center;
  }

  hr {
    max-width: 50px;
    text-align: center;
    margin: auto;
    height: 3px;
    margin-top: 30px;
    background-color: $secondary-color;
  }

  .logo {
    position: relative;
    text-align: center;
    height: 20%;
    color: #fff;
    font-size: 66px;

    i {
      color: $white-translucent;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}

#title-header {
  height: 250px;
  text-transform: uppercase;
}

.section-title {
  height: 150px;
}


.title-box {
  position: relative;
  text-align: center;
  top: 50%;
}

/******* CUSTOM GRID SIZE FOR EXTRA LARGE DEVICES *******/

@media (min-width: 1500px) {
  #header-text.col-md-4 {
    width: 25%;
  }
}

@media (max-width: 992px) {

  #title-header .bottom { bottom: 20px; }

  .section-title h1 {
      font-size: 27px;
    }
}

@media (max-width: 420px) {

  #title-header .bottom { display: none; }
  #title-header .container { padding-top: 50px; }
}
