---
layout: default
---

  <section>
    <div class="container">
      <div class="row">

        <div class="col-md-3">
          {% include article-directory.html %}
        </div>

        <div class="col-md-8 col-md-offset-1 readable">

            <article class="post-single">
              <div class="post-info">
                <h2><a target="_blank" href="#">{{ page.title }}</a></h2>
                <h6 class="upper"><span>By {{ page.author }}</span><span class="dot"></span><span>{{ page.date | date_to_long_string }}</span><span class="dot"></span></h6>
              </div>
              <div class="post-body">
                {{ content }}
              </div>
            </article>

        </div>
      </div>
      <!-- end of row-->
    </div>
    <!-- end of container-->
  </section>
